body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  background: var(--cinza-fundo);
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

h1 {
  font-size: 2.188rem;
}

h1,
h2,
h2,
p {
  margin: 0;
}

header {
  padding: 20px 20px 0 20px;
  margin: 20px 20px 0 20px;
}

main {
  margin: 20px;
  padding: 20px;
}

.texto-botao a {
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 400;
}

.texto-botao a:hover {
  background-color: rgb(191, 32, 17);
}
.ver-mais {
  background-color: var(--vermelho);
  border-radius: 4px;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  border-style: none;
  color: var(--cinza-fundo);
}

.menu {
  list-style: none;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  place-content: center;
  margin: 70px;
}

.nav-link {
  background-color: var(--branco);
  color: black;
  padding: 20px;
  text-decoration: none;
  border-radius: 4px;
}

.nav-link:hover {
  outline: 2px solid var(--vermelho);
  border-radius: 4px;
}

.conteudo-principal {
  padding: 0 100px 0 100px;
  margin: 0 100px 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.texto-botao {
  text-align: right;
  padding: 40px;
  place-self: center;
  line-height: 1.8;
  margin: 20px;
}
.propaganda-bike {
  grid-column: 1;
  place-items: center;
  background-color: var(--branco);
}
.propaganda-bike img {
  grid-column: 2;
  place-items: center;
}

.conteudo-principal::after {
  content: "";
  display: block;
  height: 4px;
  width: 70px;
  background: var(--vermelho);
  position: absolute;
  bottom: 400px;
  left: 670px;
}

.vantagens-bik {
  padding: 0 100px 0 100px;
  margin: 0 100px 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.vantagens-container{
  display: grid;
  place-items: center; 
  width: 100%;
  height: 100%;
}
.vantagens-container h2 {
  font-size: 4rem;
  color: var(--cinza-texto);
  text-align: right;
  margin-right: 60px;
}

.pattern {
  background-image: url("./img/onda.svg");
}

.especificacoes {
  background-color: var(--branco);
  padding: 40px;
}

.velocidade,
.motor-eletrico,
.rastreador {
  padding: 30px;
}

.especificacoes div:nth-child(odd) {
  background: var(--cinza-fundo);
}
.especificacoes div {
  border-left: 4px solid transparent;
}
.especificacoes div:hover {
  /* border-left: 4px solid var(--vermelho); */
  border-left: 4px solid red; /* Define a borda no lado esquerdo */
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.motor-eletrico,
.velocidade,
.rastreador {
  margin: 20px;
}

.especificacoes h2 {
  margin-bottom: 15px;
}
.especificacoes h2,
p {
  margin-left: 25px;
  position: relative;
}

.motor-eletrico h2::before {
  display: inline;
  content: url("./img/eletrica.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5;
  left: -45px;
}

.velocidade h2::before {
  display: inline;
  content: url("./img/velocidade.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5;
  left: -45px;
}

.rastreador h2::before {
  display: inline;
  content: url("./img/rastreador.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5;
  left: -45px;
}

footer {
  text-align: center;
  background-color: var(--branco);
  padding: 50px;
}
