* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100%;
  min-height: 100vh;
  background: var(--cinza-fundo);
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2.188rem;
}

h1,
h2,
h2,
p {
  margin: 0;
}

header {
  padding: 1.25rem 1.25rem 0 1.25rem;
  margin: 1.25rem 1.25rem 0 1.25rem;
}

main {
  margin: 1.25rem;
  padding: 1.25rem;
}

.texto-botao a {
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 400;
}

.texto-botao a:hover {
  background-color: rgb(191, 32, 17);
}

.ver-mais {
  background-color: var(--vermelho);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.5rem;
  border-style: none;
  color: var(--cinza-fundo);
}

.menu {
  list-style: none;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  place-content: center;
  margin: 4.375rem;
}

.nav-link {
  background-color: var(--branco);
  color: black;
  padding: 1.25rem;
  text-decoration: none;
  border-radius: 0.25rem;
}

.nav-link:hover {
  outline: 0.125rem solid var(--vermelho);
  border-radius: 0.25rem;
}

.conteudo-principal {
  padding: 0 6.25rem 0 6.25rem;
  margin: 0 6.25rem 0 6.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.conteudo-principal::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 6rem;
  background: var(--vermelho);
  bottom: 40rem;
  left: 68rem;
}

.propaganda-bike {
  background-color: var(--branco);
  display: grid;
  place-items: center;
}
.bike-img {
  grid-column: 2;
}

.texto-botao {
  text-align: right;
  padding: 2.5rem;
  line-height: 1.8;
  margin: 1.25rem;
  grid: 1;
}

.vantagens-bik {
  padding: 0 6.25rem 0 6.25rem;
  margin: 0 6.25rem 0 6.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.vantagens-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.vantagens-container h2 {
  font-size: 6rem;
  color: var(--cinza-texto);
  text-align: right;
  margin-right: 3.75rem;
}

.pattern {
  background-image: url("./img/onda.svg");
}
.especificacoes {
  background-color: var(--branco);
  padding: 2.5rem;
}

.velocidade,
.motor-eletrico,
.rastreador {
  padding: 1.875rem;
}

.especificacoes div:nth-child(odd) {
  background: var(--cinza-fundo);
}
.especificacoes div {
  border-left: 0.25rem solid transparent;
}
.especificacoes div:hover {
  /* border-left: 0.25rem solid var(--vermelho); */
  border-left: 0.25rem solid red; /* Define a borda no lado esquerdo */
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.motor-eletrico,
.velocidade,
.rastreador {
  margin: 1.25rem;
}

.especificacoes h2 {
  margin-bottom: 0.938rem;
}

.especificacoes h2,
p {
  margin-left: 1.563rem;
  position: relative;
}

.motor-eletrico h2::before {
  display: inline;
  content: url("./img/eletrica.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5;
  left: -2.813rem;
}

.velocidade h2::before {
  display: inline;
  content: url("./img/velocidade.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5;
  left: -2.813rem;
}

.rastreador h2::before {
  display: inline;
  content: url("./img/rastreador.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5;
  left: -2.813rem;
}

footer {
  text-align: center;
  background-color: var(--branco);
  padding: 2rem;
}
